A personal card collection management system focused on Trading Card Games (TCG) like Pokémon, Magic: The Gathering, Yu-Gi-Oh!, Digimon, and more.

Telegram Bot

Make .env:
* TELEGRAM_BOT_TOKEN=
* CARDVAULT_API_URL=http://localhost:5000/api